
/* UserDashboard.css */

.user-dashboard {
    display: flex;
    height: 100vh; /* Full height for the dashboard */
    background-color: #f4f4f4; /* Light background color */
}

.dashboard-content {
    display: flex;
    flex-grow: 1; /* Allow the content to take the remaining space */
}

.user-main-content {
    flex-grow: 1; /* Allow this area to take up remaining space */
    padding: 20px; /* Padding around the content */
    background-color: #ffffff; /* White background for main content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow-y: auto; /* Scroll if content overflows */
}

.user-main-content h2 {
    margin-top: 0; /* Remove top margin for headings */
}