

.admin-dashboard {
    display: flex; /* Use flexbox to align sidebar and main content */
}

.main-content {
    flex: 1; /* Allows the main content to take up the remaining space */
    padding: 20px; /* Padding around main content */
    margin-left: 250px; /* Adjust based on the width of your sidebar */
}