
/* View.css */
.view-pets {
    margin-top: 20px;
}

.view-pets h2 {
    color: #FF8C42; /* Updated color */
}

.view-pets table {
    border-collapse: collapse;
    width: 100%;
}

.view-pets th, .view-pets td {
    border: 1px solid #ddd;
    padding: 8px;
}

.view-pets th {
    background-color: #FF8C42; /* Updated color */
    color: white; /* Text color */
}